#certi-holder {
  width: 100%;
  height: 700px;
  position: relative;
  text-align: center;
}

.certi-img {
  height: 100%;
  width: 100%;
}

.certi-txt {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
