<h2>Create blockchain verifiable certificates</h2>

<div class="row">
    <div class="col">
        <div class="bucket mt-4">
            <input type="file" accept="image/*" (change)="parseTemplateFile($event.target.files)">
            <i class="fas fa-upload fa-3x mb-3"></i>
            <h3>{{rows ? "Template Uploaded" : "Upload certificate template image"}}</h3>
        </div>
    </div>
    <div class="col">
        <div class="bucket mt-4">
            <input type="file" accept=".csv" (change)="parseCsvFile($event.target.files)">
            <i class="fas fa-upload fa-3x mb-3"></i>
            <h3>{{rows ? "CSV Uploaded" : "Upload student details csv"}}</h3>
        </div>
    </div>
</div>

<input class="btn btn-lg btn-success mt-4" *ngIf="rows && template" type="button" value="Generate Certificates"
    (click)="generateCertificates()">

<div class="certificate">
    <!-- Create html certificate here & convert to pdf -->
</div>

<div class="scrolling-table">
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Certificate for</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
        </tbody>
    </table>
</div>