<h2>Select a document and have it certified on the blockchain</h2>

<div class="bucket mt-4">
    <input type="file" accept=".pdf" (change)="parseFile($event.target.files)">
    <i class="fas fa-upload fa-3x mb-3"></i>
    <h3>{{pdfFile ? "File Uploaded" : "Drag and drop PDF or click in this area"}}</h3>
</div>

<input type="button" class="btn btn-lg btn-success mt-4" value="Add document hash to blockchain"
    (click)="addToBlockchain()">

<h4 class="mt-4">or</h4>

<input type="text" class="form-control mt-4" placeholder="Paste adder's public key here" [(ngModel)]="adderPublicKey">
<input type="button" class="btn btn-lg btn-success mt-4" value="Verify document from blockchain"
    (click)="verifyFromBlockchain()">